<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.droidninja.feeder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FeederApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.FeedsCatalogActivity" />
        <activity android:name=".ui.activities.MainActivity"></activity>

        <provider
            android:name=".contentProvider.FeederContentProvider"
            android:authorities="io.droidninja.feeder"
            android:exported="false" />
        <service android:name=".sync.FeederSyncIntentService" />
    </application>

</manifest>